body {
    margin: 0;
    background: linear-gradient(135deg, #ff758c, #ff7eb3);
    font-family: Arial, sans-serif;
    color: white;
}

.portada {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.corazon {
    font-size: 80px;
    animation: latir 1s infinite;
}

h1 {
    font-size: 60px;
    margin: 10px;
}

p {
    font-size: 20px;
    max-width: 500px;
    line-height: 1.6;
}

button {
    background-color: white;
    color: #e91e63;
    border: none;
    padding: 15px 25px;
    border-radius: 30px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    transform: scale(1.05);
}

#mensaje {
    display: none;
    margin-top: 30px;
    font-size: 25px;
    font-weight: bold;
}

@keyframes latir {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}
 
.carta {
    background-color: white;
    color: black;
    width: 80%;
    max-width: 500px;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgb(0, 0, 0, 2);
    margin-top: 30px;
    box-sizing: border-box;
}

.carta h2 {
    color: red;
    font-size: 32px;
    margin-top: 0; 
}

.carta p{
    color: black;
    font-size: 18px;
    line-height: 1.6;

}

.portada img {
    width: 280px;
    height: 280px;
    object-fit: cover;
    border-radius: 20px;
    border: 5px solid white;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
    margin-top: 20px;

}
 @media (max-width: 600px) {
   h1 {
       font-size: 1.5rem;
   } 
   p {
       font-size: 1.5rem;
   }
   .portada img {
       width: 220px;
       height: 220px;
   }
 }

.carrusel {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
    flex-wrap: wrap;
}

.carrusel img {
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 20px;
    border: 5px solid white;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
}

.flecha {
    background-color: white;
    color: #e91e63;
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 2rem;
    cursor: pointer;
    background: none;
}

.flecha:hover {
    transform: scale(1.1);
}

@media (max-width: 600px) {

    .carrusel {
        gap: 8px;
    }

    .carrusel img {
        width: 230px;
        height: 230px;
    }

    .flecha {
        width: 40px;
        height: 40px;
        font-size: 20px;
    }

}

@keyframes flotar {
  0% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(-600px); opacity: 0; }
}

.corazon-flotante {
  position: fixed;
  bottom: 0;
  left: 70%;            
  transform: translateX(-50%); 
  font-size: 40px;
  color: #ff3366;
  animation: flotar 6s linear infinite;
  z-index: 999;
}

.contenedor-foto {
    display: flex;
    flex-direction: column; /* Imagen arriba, texto abajo */
    align-items: center;
    text-align: center;
}

.contenedor-foto p {
    margin-top: 10px;
    font-size: 18px;
    color: white;
    text-align: center;
}

.fade {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.fade.show {
  opacity: 1;
}

.login {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #ff758c, #ff7eb3);
  color: white;
  text-align: center;
}

.login input {
  padding: 10px;
  border-radius: 10px;
  border: none;
  margin-top: 10px;
  font-size: 18px;
}

.login button {
  margin-top: 15px;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  background-color: white;
  color: #e60073;
  font-size: 18px;
  cursor: pointer;
}

.bienvenida {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: #ff7eb3; /* Color de mensaje de bienvenida*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  font-size: 24px;
  padding: 20px;
  z-index: 1000;

}
@media (max-width: 600px) {
  .bienvenida h2 {
    font-size: 1.4rem;   /* título más pequeño */
    margin: 10px;
  }
  .bienvenida p {
    font-size: 1rem;     /* texto más legible */
    line-height: 1.4;
    margin: 10px;
  }
}
@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.8); }
  to { opacity: 1; transform: scale(1); }
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}
.bienvenida h2 {
  overflow: hidden;
  border-right: .15em solid white;
  white-space: nowrap;
  animation: typing 3s steps(30, end), blink .75s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink {
  from, to { border-color: transparent }
  50% { border-color: white }
}

